
<mat-tab-group>
    <mat-tab label="Category"> 
     <br>   
     <div class="search-div">
         <button mat-raised-button (click)="openCatCreate()"> 
           <mat-icon>add</mat-icon>Create Category
         </button>
         <mat-form-field class="search-form-field" floatLabel="never">
             <input matInput [(ngModel)]="searchKey" placeholder="search" autocomplete="off" (keyup)="applyFilterCat()">
             <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey" (click)=onSearchClearCat()>
              <mat-icon>close</mat-icon>
             </button>
         </mat-form-field>
     </div>
     <div class="mat-elevation-z8">
         <mat-table [dataSource]="catList" matSort>
             <ng-container matColumnDef="Code">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Category Code</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.code}}</mat-cell>
             </ng-container>
             <ng-container matColumnDef="Name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Category Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.category}}</mat-cell>
               </ng-container>
               <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button  [routerLink]="['/admin/edit-category',element.id]" ><mat-icon>launch</mat-icon></button>
                <button mat-icon-button color="warn" (click)="onDeleteCategory(element.id)"><mat-icon>delete_outline</mat-icon></button>
                </mat-cell>  
               </ng-container>
             <mat-header-row *matHeaderRowDef="displayedColumnCat"></mat-header-row>
             <mat-row *matRowDef="let row; columns:displayedColumnCat;"></mat-row>
             
         </mat-table>
         <mat-paginator [pageSizeOptions]="[5,10,25]" [pageSize]="5" showFirstLastButtons></mat-paginator>
     </div>

    </mat-tab>
    <mat-tab label="Products"> 
        <br>   
           <div class="search-div">
         <button mat-raised-button (click)="openProdCreate()"> 
           <mat-icon>add</mat-icon>Create Product
         </button>
         <mat-form-field class="search-form-field" floatLabel="never">
             <input matInput [(ngModel)]="searchKey" placeholder="search" autocomplete="off" (keyup)="applyFilterProd()">
             <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey" (click)=onSearchClearCat()>
              <mat-icon>close</mat-icon>
             </button>
         </mat-form-field>
     </div>
     <div class="mat-elevation-z8">
         <mat-table [dataSource]="prodList" matSort>
             <ng-container matColumnDef="Name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
             </ng-container>
             <ng-container matColumnDef="Category">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.category}}</mat-cell>
               </ng-container>
               <ng-container matColumnDef="Description">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="DH">Description</mat-header-cell>
                <mat-cell *matCellDef="let element" class="DC">{{element.description}}</mat-cell>
               </ng-container>
               <ng-container matColumnDef="Recipes">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Recipes</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.recipes}}</mat-cell>
               </ng-container>
               <ng-container matColumnDef="Price">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.price}}</mat-cell>
               </ng-container>
               <ng-container matColumnDef="Stock">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Stock</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.stock}}</mat-cell>
               </ng-container>
               <ng-container matColumnDef="Quantity">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
               </ng-container>
               <ng-container matColumnDef="Image">
                <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
                <mat-cell *matCellDef="let element"> <img src={{element.imagePath}} /> </mat-cell>
              </ng-container>
               <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button [routerLink]="['/admin/edit-product',element.id]"  ><mat-icon>launch</mat-icon></button>
                <button mat-icon-button color="warn" (click)="onDeleteProduct(element.id)" ><mat-icon>delete_outline</mat-icon></button>
                </mat-cell>  
               </ng-container>
             <mat-header-row *matHeaderRowDef="displayedColumnProd"></mat-header-row>
             <mat-row *matRowDef="let row; columns:displayedColumnProd;"></mat-row>
             
         </mat-table>
         <mat-paginator [pageSizeOptions]="[5,10,25]" [pageSize]="5" showFirstLastButtons></mat-paginator>
     </div>
   
       </mat-tab> 
</mat-tab-group>



   