
 <div class = "tp-container">
  <mat-card>
    <form [formGroup]="form" (submit)="onAddCategory()" >
      <div class="panel-heading"> 
        <h2 class="panel-title">Product Category</h2> 
        </div> 
      <p>
        <mat-form-field appearance = "fill">
          <input matInput type="text" formControlName="code"  placeholder="Category Code"> 
          <mat-error *ngIf="form.get('code').invalid">Code Required</mat-error>
      </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance = "fill">
          <input matInput type="text" formControlName="category" placeholder="Category Name">
          <mat-error *ngIf="form.get('category').invalid">Name Required</mat-error>
      </mat-form-field>
         
      </p> 
        
        <button mat-raised-button color="accent" type="submit">Save </button>
    </form>
   
</mat-card>
   
 </div>
 
  
